heading{
    width: 100%;
    padding-left:0px;
    padding-right: 0px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background-color: #DB88F2;
    padding-bottom: 2%;
    
}
songlist{
    text-align: center;
    color: #B9E6FF;
    background-color: #656565;
    border-style: solid;
    border-width: 3px;
    border-color: #DB88F2;
    margin-left:15%;
    margin-right:15%;
    margin-bottom: 2%;
    margin-top: 2%;
}
heading,artist,title,release,genre{ 
     display : block; 

}
genre{
    padding-bottom: 2%;
}
title{
    font-size: 20px;
    color: #A1F497;
    border:1px dashed;
    border-color: #DB88F2;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    
}

